/* Required for honors students */
/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */
.page-wrapper {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, sans-serif;
}
/* Background */
#css-zen-garden {
  background: linear-gradient(60deg, #403636 0%, #0c1579 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(46, 45, 52, 0.9);
  color: rgb(243, 255, 246);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 820px;
  margin: 0 auto;
}
.page-wrapper a {
  color: rgb(223, 223, 255);
}
/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts 
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-wrapper {
  /* Main font 
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font 
  font-family: "Dancing Script", cursive;
  display-flez
}

/* Background 
#css-zen-garden {
  background:linear-gradient(45deg, #f3f3f3 0%, #c8c8c8 100%);
}
/* Page wrapper 
.page-wrapper {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}



header h1 h2{
  margin:0px;
}

.page-wrapper {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white 30%);}


aside {
  /* Fix it to the top, make the 
  background opaque and set a 
  fixed height 
  position: fixed;
  /* You can put this at a different position too 
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  /* Needs a background so 
  we don't see stuff scroll 
  under it 
  background: white;
}
.sidebar .wrapper {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

header {
  /*  add a margin of the same size 
  to our first element so it shows 
  up below the menu. 
  margin-top: 64px;
}

/* We have a structure like this...
<aside>
  <div> <!-- wrapper -->
    <div> <!-- each menu -->
      <h3>...</h3>
      <nav role="navigation">
         <ul>
            <li>...</li>
  ...
*/

/* Style each menu container 
aside > div > div {
  height: 64px;
}

/* Position the menu so it is 
out of view at the start... 
aside ul {
  /* Move it up 
  transform: translateY(-110%);
  /* Make it transparent 
  opacity: 0;
  /* Remove transition 
  if you don't want 
  animation 
  transition: transform 300ms, opacity 600ms;
}
aside > div > div:hover ul {
  /* Change these lines to change
  how it moves etc -- you could 
  remove transform or remove 
  opacity to make it *just* fade
  or just slide down -- you can 
  also play with other animations   
  
  transform: translateY(0);
  opacity: 1;
  background: white;
}

aside > div > div nav {
  overflow: hidden;
}

/* Some basic menu styling --
remove the standard list stuff 

aside ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

aside ul li {
  display: block;
  padding: 8px 4px;
}

/* Style our main link in
each item as a button 
aside li a:first-child {
  display: block;
  background: orange;
  color: white;
  padding: 4px 8px;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
}
aside li {
  font-size: 0.8rem;
  text-align: center;
}

/* A bit of generic styling for the page 

body {
  margin: 0;
}
.page-wrapper {
  max-width: 640px;
  margin: auto;
}



